<% content_for :dashboard_content do %>
  <div id="content">
    <div id="edit_user">
      <div id="form_container">
        <h2>Edit <%= resource_name.to_s.humanize %> Information</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>
          <div class="field">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </div>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="field">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "current-password" %>
          </div>
          <%= f.submit "Update", id: 'update' %>
        <% end %>
      </div>
      <hr>
      <div id="account_removal">
        <h3>Cancel my account</h3>
        <div>
          <p>Clicking the Button will Remove your Data from our Servers. Are you sure you want to proceed?</p>
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
      <hr>
      <%= link_to "Go Back", :back, class: 'go_back' %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard'%>
