<% content_for :dashboard_content do %>
  <div id="content">
    <div id="profile">
      <h1>Your Profile</h1>
      <div id='img_container'>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, alt: current_user.first_name %>
        <% else %>
          <div id='image_sub'>
            <p><%= current_user.first_name[0] %></h1>
          </div>
        <% end %>
        <%= form_with method: :patch, url: profile_path, id: 'update_avatar', multipart: true do |f| %>
          <div id='upload_avatar'>
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <p>Choose Your Avatar</p>
          </div>
          <%= f.file_field :avatar %>
          <p id="file_name"></p>
          <%= f.submit 'Update Avatar' %>
        <% end %>
      </div>
      <div id="details">
        <div class="info">
          <ion-icon name="person-circle-outline"></ion-icon>
          <p>First Name</p>
          <p>
            <b><%= current_user.first_name %></b>
          </p>
        </div>
        <div class="info">
          <ion-icon name="person-circle-outline"></ion-icon>
          <p>Last Name</p>
          <p>
            <b><%= current_user.last_name %></b>
          </p>
        </div>
        <div class="info">
          <ion-icon name="mail-open-outline"></ion-icon>
          <p>Email</p>
          <p>
            <b><%= current_user.email %></b>
          </p>
        </div>
        <div class="info">
          <ion-icon name="star-outline"></ion-icon>
          <p>Favourites</p>
          <p>
            <b><%= pluralize(current_user.favourites.count, 'Favourite Car')%></b>
          </p>
        </div>
        <div class="info">
          <ion-icon name="car-sport-outline"></ion-icon>
          <p>Completed Orders</p>
          <p>
            <b><%= pluralize(0, 'Order') %></b>
          </p>
        </div>
        <div class="info">
          <% if current_user.admin %>
            <ion-icon name="id-card-outline"></ion-icon>
            <p>User Type</p>
            <p>
              <b>Admin</b>
            </p>
          <% else %>
            <ion-icon name="person-outline"></ion-icon>
            <p>User Type</p>
            <p>
              <b>Customer</b>
            </p>
          <% end %>
        </div>
      </div>
      <%= link_to 'Edit Profile', edit_user_registration_path, id: 'edit_profile_link' %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard' %>
<script>
  const fileNameHolder = document.querySelector('#file_name')
  const button = document.querySelector('#upload_avatar')
  const fileInput = document.querySelector('#avatar')
  button.addEventListener('click', () => {
    fileInput.click()
  })

  fileInput.onchange = ({target}) => {
    const file = target.files[0]
    if (file) {
      fileNameHolder.textContent = file.name
    }
  }
</script>
