<% content_for :settings_content do %>
  <div id="content">
    <div id="update_password">
      <%= form_with(model: @user, url: user_settings_update_password_path) do |f| %>
        <h3>Update Password</h3>
        <div class="field">
          <div>
            <i class="fa-solid fa-key"></i>
            <%= f.password_field :current_password, autocomplete: "current-password", placeholder: 'Current Password' %>
          </div>
        </div>
        <div class="field">
          <div>
            <i class="fa-solid fa-lock"></i>
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password' %>
          </div>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
        <div class="field">
          <div>
            <i class="fa-solid fa-lock"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Re-Type your Password' %>
          </div>
          <%= render 'devise/shared/errors', errors: @user.errors['password'] %>
        </div>
        <%= f.submit 'Update Password' %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render template: 'users/settings' %>
