<section class="login_page">
  <div>
    <h3>Welcome Back</h3>
    <small>Log in to continue</small>
    <hr>
    <%= form_for(resource, as: resource_name, class: 'login_page', url: session_path(resource_name)) do |f| %>
      <% if flash.alert %>
        <p class="flash"><%= flash.alert %></p>
      <% end %>
      <%# render 'devise/shared/errors', errors: resource.errors['email'] %>
      <div class="field">
        <i class="fa-solid fa-user"></i>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      </div>
      <div class="field">
        <i class="fa-solid fa-lock"></i>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
      <hr>
    <% end %>
    <div class="other_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
