<% content_for :dashboard_content do %>
  <div id="content">
    <div id='categories_section'>
      <h2>Condition</h2>
      <div class="categories">
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'sportscar.jpg', alt: "Sportscar" %>
          <%= link_to 'Brand New', '/category?condition=new' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'suv.jpg', alt: "SUV" %>
          <%= link_to 'Used', '/category?condition=used' %>
        </div>
      </div>
      <h2>Body</h2>
      <div class="categories">
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'sportscar.jpg', alt: "Sportscar" %>
          <%= link_to 'Used', '/category?body_type=sportscar' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'suv.jpg', alt: "SUV" %>
          <%= link_to 'SUV', '/category?body_type=suv' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'coupe.jpg', alt: "Coupe" %>
          <%= link_to 'Coupe', '/category?body_type=coupe' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'truck.jpg', alt: "Truck" %>
          <%= link_to 'Trucks', '/category?body_type=trucks' %>
        </div>
      </div>
      <h2>Fuel Type</h2>
      <div class="categories">
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'electric.jpg', alt: "Electric" %>
          <%= link_to 'Electric', '/category?fuel_type=electric' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'hybrid.jpg', alt: "Hybrid" %>
          <%= link_to 'Hybrid', '/category?fuel_type=hybrid' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'truck.jpg', alt: "Diesel" %>
          <%= link_to 'Diesel', '/category?fuel_type=diesel' %>
        </div>
        <div class="category">
          <div class="overlay"></div>
          <%= image_tag 'petrol.jpg', alt: "Petrol" %>
          <%= link_to 'Petrol', '/category?fuel_type=petrol' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard'%>
