<% content_for :dashboard_content do %>
  <div id="content" class="create_manufacturer">
    <div>
      <h1>New Manufacturer</h1>
      <%= form_with model: @manufacturer do |f| %>
        <div class="field">
          <%= f.label 'Name'%>
          <div>
            <i class="fa-solid fa-building"></i>
            <%= f.text_field :name, placeholder: 'Name...' %>
          </div>
          <% if @manufacturer.errors[:name].any? %>
            <% @manufacturer.errors[:name].each do |error| %>
              <p><%= error %> </p>
            <% end %>
          <% end %>
        </div>
        <div class="field">
          <%= f.label 'Company Logo'%>
          <div>
            <i class="fa-solid fa-images"></i>
            <%= f.file_field :logo %>
          </div>
        </div>
        <div id="description_container">
          <%= f.label 'Description'%>
          <%= f.text_area :description, size: '30x10', placeholder: 'Info About the Manufacturer...' %>
        </div>
        <%= f.submit 'Create Manufacturer' %>
      <% end %>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/dashboard' %>
